@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Raleway:ital,wght@0,400;1,500&family=Roboto:wght@500&display=swap');



/* ANCHO Y ALTO DEL BODY*/

body {
    height: 2000px;
    background-color: #F2D0E0;
    font-family: 'Raleway', sans-serif;
}

/* GRID PADRE - BODY*/

.body__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 6% 117% 6%;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
}

/* GRID HIJO - HEADER*/



.header__grid {
    
    display: grid;
    display: flex;
    grid-area: header;
    background-color: #D94E81;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". alto"
    ". bajo";
}

/* LOGO */


.logo {
    display: flex;
}

.logo img{
    height: 100px;
    align-items: center;
}



/* ESTILO DE LAS OPCIONES EN LA BARRA MENU*/

.menu__alto {
    display: flex;
    width: 500px;
    height: 50px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    border-style: none;
    margin-top: 20px;
    grid-area: alto;
}

.menu__bajo {
    display: flex;
    width: 610px;
    height: 50px;
    flex-direction: row;
    justify-content:flex-start ;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    align-content: space-around;
    
    grid-area: bajo;
}

li:hover {
    font-size: 23px;
}

a {
    text-decoration: none;
    color: lightskyblue; 
}
    

  

/* GRID HIJO - MAIN*/

 .main__grid {
    grid-area: main;
 }

/* ESTILO DEL TITULO BIENVENIDOS A MALAKU */

#titulo__pagina {
    display: flex;
    color: #D94E81;
    font-size: 75px;
    border-radius: 5px;
    }

/* SLIDER */

.slider__frame {
	width: 800px;           
    height: auto;
	margin-left: 200px;
	overflow: hidden;
	
}

.slider__frame ul {
	display: flex;
	padding: 0;
	width: 500%;
	animation: slide 15s infinite alternate ease-in-out;
}

.slider__frame li {
	width: 100%;
	list-style: none;
}

.slider__frame img {
	width: 100%;
    
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	40% {margin-left: -100%;}
	
	40% {margin-left: -200%;}
	60% {margin-left: -200%;}
	
	60% {margin-left: -300%;}
	80% {margin-left: -300%;}

    80% {margin-left: -400%;}
	100% {margin-left: -400%;}


}

 /* TEXTO DERECHA E IMAGEN DEL SALON A LA IZQUIERDA*/   

.grid__columnas {
    display: grid;
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 60px;
    background-color: lightblue; 
    width: 100%;
}

#parrafo__izquierda {
    font-size: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-top: 30px;
}

#imagen__derecha {
    margin-top: 35px;
    margin-right: 40px;
    margin-bottom: 30px;
}

/* SECCION - NUESTROS CLIENTES NOS SIGUEN ELIGIANDO - CAJAS DE OPINIONES*/

#titulo__clientes {
    color: #F241A3;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    }

.parrafos__opiniones {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    grid-template-rows: minmax(100px, 300px);
    text-align: center;
}

.background__opiniones {
    display: grid;
    background-color: lightyellow;
    padding: 10px;
    align-items: center;
}

/* SECCION RESERVAS: CAJA DE MAPA Y DATOS DE CONTACTO Y HORARIOS*/

.section__reservas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: lightpink    
}

.box__mapa {
    margin-top: 30px;
}

.recuadro__centro {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #F241A3;
    border: solid;
    width: 400px;
    height: 290px;
    text-align: center;
}

.recuadro__derecha {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #F241A3;
    border: solid;
    width: 400px;
    padding: 20px;
    text-align: center;
}


/* FOOTER: GRID HIJO  DEL BODY/ GRID PADRE DEL H3 Y DE LAS IMAGENES DE ICONOS DE REDES SOCIALES-*/

.footer__grid {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    ". . . . seguinos seguinos seguinos seguinos seguinos . . . ."
    ". . . . . facebook instagram twitter . . . . ."
;
}

/* ESTILO DEL FOOTER*/

footer {
    height: 120px;
    background-color: lightblue;
    align-items: center;
}


.footer__titulo {
    color: blue;
    font-size: 25px;
    margin-left: 50px;
    grid-area: seguinos;
    justify-items: center;
 }
    
.icono__face {
    grid-area: facebook;
}
    
.icono__inst {
    grid-area: instagram;
}

.icono__twit {
    grid-area: twitter;
}


/* ESTILOS DE LA SECCION 2 */


main>.container {
    padding: 30px 0;
}

.titulo_seccion2 {
    display: flex;
    color: #D94E81;
    font-size: 75px;
    border-radius: 5px;
}

/* ESTILOS SECCION 3 */

.body__seccion3 {
    height: 500px;
}

.imagen__salon {
    margin-left: 60px;
}

.imagen__local {
    margin-left: 100px;
    margin-top: 170px;
    padding-top: 30px;
    padding-right: 10px;

}

.titulo__pagina {
    color: #F241A3;
    font-size: 35px;

}

.grid__seccion3 {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
}


#parrafo__propuesta {
    font-size: 25px;
    
 
    padding-left: 10px;
    height: 190px;
    width: auto;
    padding-right: 100px;
}

.imagen__local {
    justify-items: center;
    padding-top: 150px;
    padding-right: 20px;

    padding-bottom: 20px;
    margin-bottom: 100px;


    height:500px;
    width:500px;
}


/*ESTILOS SECCION 4*/


.grid__seccion4 {
    display: grid;
    
    grid-template-columns: repeat(3) 1fr;
    
    grid-template-areas: 
    "imagen1 imagen1 imagen1"
    "imagen2 imagen3 imagen4";
}

.imagen__1 {
    grid-area: imagen1;
}

.imagen__2 {
    grid-area: imagen2;
    height: 500px;
}

.imagen__3 {
    grid-area: imagen3;
}

.imagen__4 {
    grid-area: imagen4;
}

#parrafo__franquicias {
    font-size: 23px;
    text-align: justify;

}

#lista__recuadros {
    background-color: lightgoldenrodyellow;
    border:solid;
      
}

.formulario {
    width: 50px;
}

.section__informacion{
    border: solid;
    background-color: lightgreen;
}

#checkbox__franquicias {
    width: 10000%;
    color:grey; 
    
}

/*ESTILOS SECCION 5*/

.body__seccion5 {
    height: 700px;
}


/* @QUERRYS - RESPONSIVE*/


@media (max-width:1024px) {

    .body__grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 6% 140% 6%;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }

    .menu__alto{
        font-size: 18px;
    }

    .menu__bajo {
        font-size: 18px;
    }

    #titulo__pagina {
        font-size: 50px;
    }    
            
    .slider__frame {
        width: 900px;           
        margin-left: 70px;
    }

    .grid__columnas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        height: 800px;
        background-color: lightblue;   
    }

    #parrafo__izquierda {
        font-size: 18px;
        text-align: center;
        height: 190px;
        width: auto;
        margin-left: 100px;
        padding-right: 100px;
    }
    
    #imagen__derecha {
        margin-bottom: 400px;
        margin-left: 150px;
        width: 700px;
        height: 500px;
    }

    #titulo__clientes {
        color: #F241A3;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
    }

    .parrafos__opiniones {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr;
        text-align: center;
    }
    
    .background__opiniones {
        display: grid;
        background-color: lightyellow;
        padding: 10px;
        align-items: center;
    }

    .box__mapa {
        margin-top: 5px;
    }
    
    .recuadro__centro {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        color: #F241A3;
        border: solid;
        width: 400px;
        height: 250px;
        text-align: center;
    }
    
    .recuadro__derecha {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        color: #F241A3;
        border: solid;
        width: 400px;
        height: 210px;
        padding: 20px;
        text-align: center;
    }

    .footer__titulo {
        color: blue;
        font-size: 22px;
        margin-left: 50px;
        grid-area: seguinos;
        justify-items: center;
    }
}

@media (max-width:981px) {
    .slider__frame {
        width: 700px;           
        margin-left: 70px;
    }
}
       
@media (max-width:880px) {
    
    .body__grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 6% 125% 6%;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }
        
        
    .menu__alto{
        font-size: 16px;
    }
        
    .menu__bajo {
        font-size: 16px;
    }
        
    #titulo__pagina {
        font-size: 45px;
    }    
                
            
    .slider__frame {
        width: 600px;           
        margin-left: 130px;
    }

    
    .grid__seccion4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4) 1fr;
        grid-template-areas: 
        "imagen1"
        "imagen2"
        "imagen3" 
        "imagen4";
    }

    .imagen__2 {
        grid-area: imagen2;
        height: 400px;
        padding-left: 250px;
    }

    .imagen__3 {
        grid-area: imagen3;
        padding-left: 250px;
    }

    .imagen__4 {
        grid-area: imagen4;
        padding-left: 250px;
    }

    #parrafo__franquicias {
        font-size: 20px;
        text-align: justify;
    }
        
    .grid__columnas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        height: 800px;
        background-color: lightblue;   
    }
        
    #parrafo__izquierda {
        font-size: 16px;
        text-align: center;
        height: 190px;
        width: auto;
        margin-left: 100px;
        padding-right: 100px;
    }
            
    #imagen__derecha {
        margin-bottom: 400px;
        margin-left: 80px;
        width: 600px;
    }
        
    #titulo__clientes {
        color: #F241A3;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
    }
        
    .parrafos__opiniones {
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr;
        text-align: center;
    }
            
    .background__opiniones {
        display: grid;
        background-color: lightyellow;
        padding: 10px;
        align-items: center;
    }
        
    .box__mapa {
        margin-top: 5px;
    }
            
    .recuadro__centro {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        color: #F241A3;
        border: solid;
        width: 400px;
        height: 250px;
        text-align: center;
    }
            
    .recuadro__derecha {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #F241A3;
        border: solid;
        width: 400px;
        height: 210px;
        padding: 20px;
        text-align: center;
    }
        
    .footer__titulo {
        color: blue;
        font-size: 20px;
        margin-left: 50px;
        grid-area: seguinos;
        justify-items: center;
    }
}

@media (max-width:768px) {

    .body__grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 18% 127% 6%;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }

    .header__grid {
        display: grid;
        width: 700px;
        grid-area: header;
        background-color: #D94E81;
        height: 330px;
        padding: 10px; 
        grid-template-columns: 30% 1fr;
        grid-template-rows: 70%;
        grid-template-areas: 
        "img nav"
        "img nav";
    }

    .slider__frame {
	    width: 400px;           
        margin-left: 70px;
    }

    .logo img{
        height: 180px;
        align-items: center;
        background-color: yellow;
        grid-area: img;
    }

    

    nav {
        display: grid;
        grid-area: nav;
        width: 400px;
        height: 200px;
        margin-bottom: 280px;
        margin-right: 130px;
        grid-template-columns: 1fr;
    }

    
    .menu__alto {
        padding: 10px;
        width: 170px;
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        list-style: none;
        font-size: 16px;
        margin-bottom: 500px;
        grid-area: alto;
        padding: 10px;
    }

    .menu__bajo {
        padding: 10px;
        width: 80px;
        height: 120px;
        flex-direction: column;
        align-content: flex-start;
        list-style: none;
        margin-top: 120px;
        margin-right: 900px;
        margin-bottom: 500px;
        justify-content: left;
        font-size: 16px;
        grid-area: bajo;
    }

    .background__opiniones {
        display: grid;
        background-color: lightyellow;
        padding: 10px;
        align-items: center;
        width: 700px;
    }

    .footer__titulo {
        color: blue;
        font-size: 14px;
        margin-left: 50px;
        grid-area: seguinos;
        justify-items: center;
    }
    
}

@media (max-width:714px) {

    .body__grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 18% 120% 6%;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }
    
    .header__grid {
        width: 700px;
    }
    
    .slider__frame {
        width: 400px;           
        margin-left: 70px;
    }

    
    .grid__columnas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        height: 800px;
        width: 700px;
        background-color: lightblue;   
    }
    
    
    .background__opiniones {
        width: 700px;
    }
    
    footer {
        width: 700px;
    }
            
}


    


    
        
     

