
.grid__seccion4 {
    display: grid;
    
    grid-template-columns: repeat(3) 1fr;
    
    grid-template-areas: 
    "imagen1 imagen1 imagen1"
    "imagen2 imagen3 imagen4";
}

.imagen__1 {
    grid-area: imagen1;
}

.imagen__2 {
    grid-area: imagen2;
    height: 500px;
}

.imagen__3 {
    grid-area: imagen3;
}

.imagen__4 {
    grid-area: imagen4;
}

#parrafo__franquicias {
    font-size: 23px;
    text-align: justify;

}

#lista__recuadros {
    background-color: lightgoldenrodyellow;
    border:solid;
      
}

.formulario {
    width: 50px;
}

.section__informacion{
    border: solid;
    background-color: lightgreen;
}

#checkbox__franquicias {
    width: 10000%;
    color:grey; 
    
}

@media (max-width:880px) {

    
    .grid__seccion4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4) 1fr;
        grid-template-areas: 
        "imagen1"
        "imagen2"
        "imagen3" 
        "imagen4";
    }



    .imagen__2 {
        grid-area: imagen2;
        height: 400px;
        padding-left: 250px;
    }

    .imagen__3 {
        grid-area: imagen3;
        padding-left: 250px;
    }

    .imagen__4 {
        grid-area: imagen4;
        padding-left: 250px;
    }

    #parrafo__franquicias {
        font-size: 20px;
        text-align: justify;
    }
}

